.outer{
	border:2px solid black;
	margin:20px
	
}

.outin{
	border:15px solid blue;
}
.inin{
	border:2px solid color;
	padding:50px;
	background-color:lightblue;
}
.inner{
	border:2px solid color;
	width:300px;
	margin:20px
	
}